@media (min-width: 1025px) {
  @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

  * {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  /* ################################## 
Header 
########################################### */

  #btn {
    display: none;
  }

  .header {
    margin-right: 150px;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bg_header {
    background: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    animation: all 1.6s ease;
    -webkit-animation: all 1.6s ease;
  }

  .logo {
    font-family: "Maven Pro", sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
  }

  #menu li {
    font-weight: 600;
    margin-right: 2rem;
    list-style: none;
    text-align: center;
    display: inline-block;
  }

  #menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 0.8em;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  #menu li a:hover {
    color: rgb(92, 90, 255);
  }

  /* ################################## 
some information 
########################################### */

  .infos {
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infos div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28%;
  }

  .infos div h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Maven Pro", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 25px;
    animation: 1.2s slide 1;
    -webkit-animation: 1.2s slide 1;
  }

  .infos div p {
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2.5rem;
    width: 560px;
    letter-spacing: 0.8px;
    line-height: 1.8rem;
    animation: 1.4s slide 1;
    -webkit-animation: 1.4s slide 1;
  }

  .infos img {
    min-width: 23em;
    height: auto;
    margin-top: 22%;
    margin-right: 30px;
  }

  .infos .contact_me {
    color: #fff;
    padding: 16px 80px;
    border: none;
    background-color: rgb(92, 90, 255);
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 45px;
    cursor: pointer;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    animation: 1.6s slide 1;
    -webkit-animation: 1.6s slide 1;
  }

  .infos .contact_me:hover {
    color: #000;
    background-color: #71c4fc;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .infos .contact_me:active {
    background-color: rgb(92, 90, 255);
  }

  .home_button {
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: 22px;
    background-color: rgb(92, 90, 255);
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
  }

  .home_button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  /*##########################
animation
###################################*/

  @keyframes slide {
    0% {
      transform: translate(5000px, 0);
      -webkit-transform: translate(5000px, 0);
      -moz-transform: translate(5000px, 0);
      -ms-transform: translate(5000px, 0);
      -o-transform: translate(5000px, 0);
    }
    100% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
    }
  }

  /* ################################## 
about section 
########################################### */

  .title {
    text-shadow: 0 0 25px rgb(92, 90, 255);
    font-weight: 800;
    font-size: 35px;
    padding-block-end: 25px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    text-align: center;
  }

  #about {
    font-family: "Maven Pro", sans-serif;
    margin-top: 400px;
    font-size: 35px;
  }

  .about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .who_am_i {
    color: #fff;
    width: 100%;
    line-height: 42px;
    font-size: 18px;
  }

  .who_am_i h3 {
    color: rgb(92, 90, 255);
  }

  .image img {
    width: 50%;
    margin-left: 10vh;
  }

  /* ################################## 
skills section 
########################################### */

  .title_2 {
    text-shadow: 0 0 25px rgb(92, 90, 255);
    font-weight: 800;
    font-size: 35px;
    padding-block-end: 25px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    text-align: center;
    margin-top: 15rem;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    font-size: 0.7rem;
    column-gap: 1rem;
    row-gap: 2.5rem;
    margin-top: 7rem;
  }

  .skills img {
    width: 80px;
  }

  .skill h3 {
    margin-top: 1rem;
  }

  .skills h3 {
    color: white;
  }

  /* ################################## 
projects section 
########################################### */

  .title_3 {
    text-shadow: 0 0 25px rgb(92, 90, 255);
    font-weight: 800;
    font-size: 35px;
    padding-block-end: 25px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    text-align: center;
  }

  #projects {
    margin-top: 250px;
    font-family: "Maven Pro", sans-serif;
    font-size: 35px;
  }

  .projects_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 15px;
    gap: 48px;
    padding: 0 150px;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 40px;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
  }

  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(92, 90, 255);
    height: 80px;
    border-radius: 10px;
  }

  /* ### project 1 and 3 ### */

  .project_1 img,
  .project_3 img {
    width: 500px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.7s ease;
    text-align: center;
  }

  .project_2 img,
  .project_4 img {
    /* margin-top: 320px; */
    text-align: center;
    width: 500px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
  }

  /* .project_1 img:hover,
  .project_2 img:hover,
  .project_3 img:hover,
  .project_4 img:hover {
    box-shadow: 0 0 25px rgb(92, 90, 255);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  } */

  /* ### button for mor projects ### */

  .button button {
    color: #fff;
    padding: 16px 80px;
    border: none;
    margin-top: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: rgb(92, 90, 255);
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    display: none;
  }

  .button button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: #71c4fc;
    color: #000;
  }

  .button {
    text-align: center;
    padding: 64px;
  }

  /* ################################## 
Services section 
########################################### */

  .title_4 {
    text-shadow: 0 0 25px rgb(92, 90, 255);
    font-weight: 800;
    font-size: 35px;
    padding-block-end: 25px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    text-align: center;
  }

  .cards {
    padding: 0px 150px;
    margin: 0 auto;
    width: 75%;
    margin-top: 200px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards img {
    margin-bottom: 12px;
    width: 90px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .card {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 220px;
    text-align: center;
    padding: 24px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 64px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
  }

  #services {
    margin-top: 150px;
    font-family: "Maven Pro", sans-serif;
    font-size: 35px;
  }

  /* .card:hover {
    box-shadow: 0 0 25px rgb(92, 90, 255);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  } */

  .card h3 {
    font-family: "Maven Pro", sans-serif;
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 16px;
    color: rgb(92, 90, 255);
  }

  .card p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 14px;
    color: white;
  }

  /* ################################## 
footer 
########################################### */

  .fa-chevron-right {
    margin-left: 8px;
  }

  .fab {
    font-size: 25px;
    color: #fff;
  }

  footer {
    margin: 200px 150px 0 150px;
    padding: 32px;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer ul li {
    display: inline-block;
    padding: 0 14px;
  }

  footer ul li a {
    text-decoration: none;
    color: white;
  }

  footer h5 {
    color: white;
    font-family: "Maven Pro", sans-serif;
    font-size: 15px;
  }

  .fab:hover {
    color: rgb(92, 90, 255);
  }

  @media (max-width: 950px) {
    .menu li {
      display: none;
    }

    header div {
      padding: 8px 2%;
    }
  }
}
